:root {
  /** Primary  */
  --primary-dark-blue: hsl(233, 26%, 24%);
  --primary-lime-green: hsl(136, 65%, 51%);
  --primary-bright-cyan: hsl(192, 70%, 51%);
  /** Neutral */
  --neutral-grayish-blue: hsl(233, 8%, 62%);
  --neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);

  /** bg colors with opacity */
  --dark-blue-opacity: hsla(233, 26%, 24%, 0.705);
  --white-opacity: hsla(0, 0%, 100%, 0.507);
  /** Media Query size screen  */
  --mobile-version: 1000px;
}

html {
  font-size: 18px;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-family: 'Public Sans';
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: 0px;
  padding: 12px;
}

ul {
  padding: 0px;
  list-style: none;
  margin: 0%;
}

a {
  text-decoration: none;
}

p {
  font-size: 0.9rem;
}

/** Mobile version */
@media (max-width: 1000px) {

  /*? Menu  */
  .menu {
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--dark-blue-opacity), var(--white-opacity));
    row-gap: 20px;
  }

  .menu-item {
    width: 100%;
  }

  .logo-container {
    background-color: var(--neutral-white);
    display: flex;
    justify-content: space-around;
    padding: 25px 0px;
  }

  .sub-menu-container {
    height: 0px;
    transition: height .2s linear;
  }

  .sub-menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--neutral-white);
    border-radius: 5px;
    margin: auto;
    width: 85%;
  }

  .sub-menu a {
    color: var(--primary-dark-blue);
  }

  .close-menu {
    display: inline-block;
  }

  .menu-opened {
    transition: height .2s linear;
    height: 60vh;
  }

  /*? About */
  .aboutUs-container {
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
  }

  .intro-container {
    justify-content: flex-start;
    grid-row: 2 / 2;
  }

  .intro-images {
    grid-row: 1 / 1;
  }

  .intro-images img {
    top: 0%;
  }
}